<section class="side-pomo">
    <ul>
        <li routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="bi bi-person-circle"></i></li>
        <li routerLink="/timer" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="bi bi-house-door"></i></li>
        <li routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" ><i class="bi bi-file-bar-graph"></i></li>
        <li routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="bi bi-gear"></i></li>
        <li routerLink="/logout" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="bi bi-box-arrow-right"></i></li>
      </ul>
</section>
